* {
    margin: 0 auto;
    width: 50vw;
    margin-top: 30px;
}

h1 {
    background-color: green;
    border: 10px solid black;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

h2 {
    text-align: center;
}

button {
    display: block;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    width: 100%;
}

label {
    display: block;
    text-align: center;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.score div {
    font-size: 20px;
    text-align: center;
}

#score-1::before {
    content: "#1 ";
}

#score-2::before {
    content: "#2 ";
}

#score-3::before {
    content: "#3 ";
}

.quiz,
#score {
    display: none;
}

.scores {
    text-align: center;
}

#timer {
    text-align: center;
    color: green;
    font-size: 2em;
}

.alerts {
    text-align: center;
    font-size: 1.5em;
}